<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <div class="navbar-brand">
          <a  ui-sref="website-pages.home">
            <img class="imglogo">  
          </a>
        </div>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container parallax-layer" data-opacity="true">

        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-nav-margin-left">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Progress Card</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">FAQ</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.private-profile">Account Details</a>
            </ul>
            <div class="navbar-right">
              <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
                <!-- user -->
                <li class="dropdown user">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" /> Saurav<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
      
                    <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>
                    <li><a ui-sref="login"><i class="fa fa-sign-out"></i> Logout</a></li>
                  </ul>
                </li>
                <!-- // END user -->
              </ul>
              <a ui-sref="login" class="navbar-btn btn btn-primary">Log Out</a>
            </div>
          </div>
          <!-- /.navbar-collapse -->
      
        </div>
      </div>
      </div>
      <div class="parallax bg-white page-section">
        <div class="container parallax-layer" data-opacity="true">
          <div class="media v-middle">
            <div class="media-body">
            </div>
            <div class="media-right">
              <div class="width-100 text-right">
                <div class="btn-group">
                  <a ng-class="{ 'btn-grey-900': $state.is('website-courses.grid'), 'btn-white': !$state.is('website-courses.grid') }" class="btn btn-white" ui-sref="website-courses.grid"><i class="fa fa-th"></i></a>
                  <a ng-class="{ 'btn-grey-900': $state.is('website-courses.list'), 'btn-white': !$state.is('website-courses.list') }" class="btn btn-white" ui-sref="website-courses.list"><i class="fa fa-list"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-body">

            <div class="media media-clearfix-xs">
              <div class="media-left text-center">
                <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                  <span class="img icon-block height-130 bg-default"></span>
                  <span class="overlay overlay-full padding-none icon-block bg-default">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-headline margin-v-5-0"><a ui-sref="website-courses.single">JEE-Physics</a></h4>
                <p class="small">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
                <p> </p>

                <hr class="margin-v-8" />
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/50/guy-8.jpg" alt="People" class="img-circle width-40" />
                  </div>
                  <div class="media-body">
                    <h4><a href="">Diya Mirza</a>
                      <br/>
                    </h4>
                    Instructor
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-body">

            <div class="media media-clearfix-xs">
              <div class="media-left text-center">
                <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                  <span class="img icon-block height-130 bg-primary"></span>
                  <span class="overlay overlay-full padding-none icon-block bg-primary">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-headline margin-v-5-0"><a ui-sref="website-courses.single">JEE-Chemistry</a></h4>
                <p class="small">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
                <p>   </p>

                <hr class="margin-v-8" />
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/50/guy-6.jpg" alt="People" class="img-circle width-40" />
                  </div>
                  <div class="media-body">
                    <h4><a href="">Sakshi Sharma</a>
                      <br/>
                    </h4>
                    Instructor
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-body">

            <div class="media media-clearfix-xs">
              <div class="media-left text-center">
                <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                  <span class="img icon-block height-130 bg-lightred"></span>
                  <span class="overlay overlay-full padding-none icon-block bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-headline margin-v-5-0"><a ui-sref="website-courses.single">JEE-Mathematics</a></h4>
                <p class="small">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
                <p> </p>

                <hr class="margin-v-8" />
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/50/guy-8.jpg" alt="People" class="img-circle width-40" />
                  </div>
                  <div class="media-body">
                    <h4><a href="">Rakesh Yadav</a>
                      <br/>
                    </h4>
                    Instructor
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-body">

            <div class="media media-clearfix-xs">
              <div class="media-left text-center">
                <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                  <span class="img icon-block height-130 bg-brown"></span>
                  <span class="overlay overlay-full padding-none icon-block bg-brown">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-headline margin-v-5-0"><a ui-sref="website-courses.single">NEET-Physics</a></h4>
                <p class="small">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
                <p> </p>

                <hr class="margin-v-8" />
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/50/guy-3.jpg" alt="People" class="img-circle width-40" />
                  </div>
                  <div class="media-body">
                    <h4><a href="">Suraj Das</a>
                      <br/>
                    </h4>
                    Instructor
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-body">

            <div class="media media-clearfix-xs">
              <div class="media-left text-center">
                <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                  <span class="img icon-block height-130 bg-purple"></span>
                  <span class="overlay overlay-full padding-none icon-block bg-purple">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-headline margin-v-5-0"><a ui-sref="website-courses.single">NEET-Chemistry</a></h4>
                <p class="small">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda aut debitis, ducimus, ea eaque earum eius enim eos explicabo facilis harum impedit natus nemo, nobis obcaecati omnis perspiciatis praesentium quaerat quas quod
                  reprehenderit sapiente temporibus vel voluptatem voluptates voluptatibus?</p>

                <hr class="margin-v-8" />
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/50/guy-4.jpg" alt="People" class="img-circle width-40" />
                  </div>
                  <div class="media-body">
                    <h4><a href="">Swarit Patil</a>
                      <br/>
                    </h4>
                    Instructor
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-body">

            <div class="media media-clearfix-xs">
              <div class="media-left text-center">
                <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                  <span class="img icon-block height-130 bg-default"></span>
                  <span class="overlay overlay-full padding-none icon-block bg-default">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-headline margin-v-5-0"><a ui-sref="website-courses.single">NEET-Biology</a></h4>
                <p class="small">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda aut debitis, ducimus, ea eaque earum eius enim eos explicabo facilis harum impedit natus nemo, nobis obcaecati omnis perspiciatis praesentium quaerat quas quod
                  reprehenderit sapiente temporibus vel voluptatem voluptates voluptatibus?</p>

                <hr class="margin-v-8" />
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/50/guy-3.jpg" alt="People" class="img-circle width-40" />
                  </div>
                  <div class="media-body">
                    <h4><a href="">Aditya Gupta</a>
                      <br/>
                    </h4>
                    Instructor
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <ul class="pagination margin-top-none">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

        <br/>
        <br/>

      </div>

        <div class="col-md-3">

          <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
            <div class="panel-heading panel-collapse-trigger">
              <h4 class="panel-title">My Account</h4>
            </div>
            <div class="panel-body list-group">
              <ul class="list-group list-group-menu">
                <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.dashboard">Progress Card</a></li>
                <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-courses.grid">Courses</a></li>
                <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.courses">My Courses</a></li>
                <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.private-profile">Profile</a></li>
                <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-forum.home">FAQ</a></li>
                <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.messages">Messages</a></li>
                <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
              </ul>
            </div>
          </div>

        <!-- <div class="panel panel-default" data-toggle="panel-collapse" data-open="false">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">Price</h4>
          </div>
          <div class="panel-body">
            <div class="form-group input-group margin-none">
              <div class="row margin-none">
                <div class="col-xs-6 padding-none">
                  <input class="form-control" type="text" placeholder="Min .." />
                </div>
                <div class="col-xs-6 padding-none">
                  <input class="form-control" type="text" placeholder="Max .." />
                </div>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
 -->
        <h4>Featured</h4>
        <div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Physics</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-primary"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Chemistry</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-lightred"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Biology</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-brown"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Mathematics</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-purple"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Physics</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-book"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Chemistry</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  

</div>
<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h4 class="text-headline text-light">Corporate</h4>
        <ul class="list-unstyled">
          <li><a href="#">About the company</a></li>
          <li><a href="#">Company offices</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      </section>
     <!--  <div class="col-sm-6 col-md-3">
        <h4 class="text-headline text-light">Explore</h4>
        <ul class="list-unstyled">
          <li><a href="">Courses</a></li>
          <li><a href="">Tutors</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">Become Tutor</a></li>
          <li><a href="">Sign Up</a></li>
        </ul>
      </div> -->
      <div class="col-xs-12 col-md-6">
        <h4 class="text-headline text-light">Newsletter</h4>

        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter email here...">
            <span class="input-group-btn">
								<button class="btn btn-grey-800" type="button">Subscribe</button>
							  </span>
          </div>
        </div>
        <br/>
        <p>
          <a href="#" class="btn btn-indigo-500 btn-circle"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-pink-500 btn-circle"><i class="fa fa-dribbble"></i></a>
          <a href="#" class="btn btn-blue-500 btn-circle"><i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-danger btn-circle"><i class="fa fa-google-plus"></i></a>
        </p>

        <p class="text-subhead">
          &copy; 2015 Learning App by mosaicpro.
        </p>

      </div>
    </div>
  </div>
  </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <strong>Learn Vectors</strong> v1.1.0 &copy; Copyright 2019
</footer>
<!-- // Footer -->