<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <div class="navbar-brand">
          <a  ui-sref="website-pages.home">
            <img class="imglogo">  
          </a>
        </div>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container parallax-layer" data-opacity="true">

        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-nav-margin-left">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Progress Card</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">FAQ</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.private-profile">Account Details</a>
            </ul>
        
        <!-- <li class="dropdown" ng-class="{ 'active': $state.includes('website-pages') || $state.includes('website-forum') || $state.includes('website-blog') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-pages.home">Home page</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.pricing">Pricing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.tutors">Tutors</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.survey">Survey</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.contact">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-courses') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Grid Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.list">List Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.single">Single Course</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-student') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-course">Take Course</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.course-forums') || $state.is('website-student.course-forum-thread') }"><a ui-sref="website-student.course-forums">Course Forums</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-quiz">Take Quiz</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.private-profile') || $state.is('website-student.billing') }"><a ui-sref="website-student.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-instructor.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.courses">My Courses</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.edit-course') || $state.is('website-instructor.edit-course-meta') || $state.is('website-instructor.edit-course-lessons') }"><a ui-sref="website-instructor.edit-course">Edit Course</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.earnings">Earnings</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.statement">Statement</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a ui-sref="website-instructor.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
          </ul>
        </li>
      </ul> -->
      <div class="navbar-right">

        <ul class="nav navbar-nav navbar navbar-nav-bordered navbar-nav-margin-right">
          <!-- user -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" />Saurav <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>

              <li><a ui-sref="login"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
          </li>
          <!-- // END user -->
        </ul>
      <a ui-sref="login" class="navbar-btn btn btn-primary">Log Out</a>
   
      </div>
    
    <!-- /.navbar-collapse -->

  </div>
</div>
</div>
</div>
</div>
<div class="parallax bg-white page-section">
  <div class="parallax-layer container" data-opacity="true">
    <div class="media v-middle">
      <div class="media-left">
        <span class="icon-block s60 bg-lightred"><i class="fa fa-github"></i></span>
      </div>
      <div class="media-body">
        <h1 class="text-display-1 margin-none">Chemistry</h1>
        <p class="small margin-none">
          <span class="fa fa-fw fa-star text-yellow-800"></span>
          <span class="fa fa-fw fa-star text-yellow-800"></span>
          <span class="fa fa-fw fa-star text-yellow-800"></span>
          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
        </p>
      </div>
      <div class="media-right">
        <a class="btn btn-white" ui-sref="website-courses.grid">Library</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-8">

      <div class="page-section">
        <div class="width-350 width-300-md width-100pc-xs paragraph-inline">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/Ycv5fNd4AeM?rel=0"></iframe>
          </div>
        </div>
        <p>
          <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aperiam autem cumque deleniti dicta iusto laboriosam laudantium omnis, possimus praesentium provident quam quas, sapiente sint, ut! Adipisci aliquid assumenda consequuntur
          cupiditate deleniti dicta dolore dolorem
          <strong>dolores enim </strong>eos hic illo inventore iure libero magnam minima minus obcaecati optio pariatur porro quibusdam quos reiciendis, sapiente sint veritatis. Eveniet in magni sunt?</p>
        <p>
          <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aperiam autem cumque deleniti dicta iusto laboriosam laudantium omnis, possimus praesentium provident quam quas, sapiente sint, ut! Adipisci aliquid assumenda consequuntur
          cupiditate deleniti dicta dolore dolorem
          <strong>dolores enim </strong>eos hic illo inventore iure libero.
        </p>
        <br/>
        <p>
          <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aperiam autem cumque deleniti dicta iusto laboriosam laudantium omnis, possimus praesentium provident quam quas, sapiente sint, ut! Adipisci aliquid assumenda consequuntur
          cupiditate deleniti dicta dolore dolorem
          <strong>dolores enim </strong>eos hic illo inventore iure libero magnam minima minus obcaecati optio pariatur porro quibusdam quos reiciendis, sapiente sint veritatis. Eveniet in magni sunt?</p>
        <br/>
        <p class="margin-none">
          <span class="label bg-gray-dark">New</span>
          <span class="label label-grey-200">WordPress</span>
          <span class="label label-grey-200">Beginner</span>
        </p>
      </div>

      <div class="page-section">
        <div class="row">
          <div class="col-md-7">
            <h2 class="text-headline margin-none">What you'll learn</h2>
            <p class="text-subhead text-light">A minus obcaecati optio pariatur porro.</p>
            <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
              <li class="list-group-item">
                <div class="media v-middle">
                  <div class="media-left">
                    <div class="icon-block s30 bg-red-300 text-white img-circle">
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="media-body text-body-2">
                    Basics of GIT and how to become a STAR.
                  </div>
                </div>
              </li>
              <li class="list-group-item paper-shadow">
                <div class="media v-middle">
                  <div class="media-left">
                    <div class="icon-block s30 bg-green-300 text-white img-circle">
                      <i class="fa fa-database"></i>
                    </div>
                  </div>
                  <div class="media-body text-body-2">
                    Database connections & some other nice features.
                  </div>
                </div>
              </li>
              <li class="list-group-item paper-shadow">
                <div class="media v-middle">
                  <div class="media-left">
                    <div class="icon-block s30 bg-indigo-300 text-white img-circle">
                      <i class="fa fa-trophy"></i>
                    </div>
                  </div>
                  <div class="media-body text-body-2">
                    Eaque ex exercitationem quia reprehenderit?
                  </div>
                </div>
              </li>
              <li class="list-group-item paper-shadow">
                <div class="media v-middle">
                  <div class="media-left">
                    <div class="icon-block s30 bg-orange-300 text-white img-circle">
                      <i class="fa fa-code-fork"></i>
                    </div>
                  </div>
                  <div class="media-body text-body-2">
                    Ab distinctio nemo, provident quia quibusdam ullam.
                  </div>
                </div>
              </li>
              <li class="list-group-item paper-shadow">
                <div class="media v-middle">
                  <div class="media-left">
                    <div class="icon-block s30 bg-grey-500 text-white img-circle">
                      <i class="fa fa-check"></i>
                    </div>
                  </div>
                  <div class="media-body text-body-2">
                    Conclusion & Notes.
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-5">

            <div class="pull-right">
              <a class="btn btn-white btn-circle paper-shadow relative" data-z="1" href="#"><i class="md md-add"></i></a>
            </div>

            <h2 class="text-headline margin-none">Testimonials</h2>
            <p class="text-subhead text-light">A few words from our past students</p>
            <div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
              <div class="item">
                <div class="testimonial">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet doloremque enim error id, inventore magni odio odit quo tenetur.</p>
                    </div>
                  </div>
                  <div class="media v-middle">
                    <div class="media-left">
                      <img src="images/people/50/guy-8.jpg" alt="People" class="img-circle width-40" />
                    </div>
                    <div class="media-body">
                      <p class="text-subhead margin-v-5-0">
                        <strong>Adrian D. <span class="text-muted">@ Mosaicpro Inc.</span></strong>
                      </p>
                      <p class="small">
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet doloremque enim error id, inventore magni odio odit quo tenetur.</p>
                    </div>
                  </div>
                  <div class="media v-middle">
                    <div class="media-left">
                      <img src="images/people/50/guy-9.jpg" alt="People" class="img-circle width-40" />
                    </div>
                    <div class="media-body">
                      <p class="text-subhead margin-v-5-0">
                        <strong>Adrian D. <span class="text-muted">@ Mosaicpro Inc.</span></strong>
                      </p>
                      <p class="small">
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet doloremque enim error id, inventore magni odio odit quo tenetur.</p>
                    </div>
                  </div>
                  <div class="media v-middle">
                    <div class="media-left">
                      <img src="images/people/50/guy-1.jpg" alt="People" class="img-circle width-40" />
                    </div>
                    <div class="media-body">
                      <p class="text-subhead margin-v-5-0">
                        <strong>Adrian D. <span class="text-muted">@ Mosaicpro Inc.</span></strong>
                      </p>
                      <p class="small">
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet doloremque enim error id, inventore magni odio odit quo tenetur.</p>
                    </div>
                  </div>
                  <div class="media v-middle">
                    <div class="media-left">
                      <img src="images/people/50/guy-3.jpg" alt="People" class="img-circle width-40" />
                    </div>
                    <div class="media-body">
                      <p class="text-subhead margin-v-5-0">
                        <strong>Adrian D. <span class="text-muted">@ Mosaicpro Inc.</span></strong>
                      </p>
                      <p class="small">
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
    <div class="col-lg-3 col-md-4">

      <div class="page-section">

        <!-- .panel -->
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
          <div class="panel-heading">
            <h4 class="text-headline">Course</h4>
          </div>
          <div class="panel-body">
            <p class="text-caption">
              <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp;
              <i class="fa fa-calendar fa-fw"></i> 21/10/14
              <br/>
              <i class="fa fa-user fa-fw"></i> Instructor: Adrian Demian
              <br/>
              <i class="fa fa-mortar-board fa-fw"></i> Max. students: 50
              <br/>
              <i class="fa fa-check fa-fw"></i> Attending: 30
            </p>
          </div>
          <hr class="margin-none" />
          <div class="panel-body text-center">
            <p><a class="btn btn-success btn-lg paper-shadow relative" data-z="1" data-hover-z="2" data-animated ui-sref="website-student.take-course">Start Course</a></p>
            <p class="text-body-2">or <a href="#">buy course for $1</a></p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#" class="text-light"><i class="fa fa-facebook fa-fw"></i> Share on facebook</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-light"><i class="fa fa-twitter fa-fw"></i> Tweet this course</a>
            </li>
          </ul>
        </div>
        <!-- // END .panel -->

        <!-- .panel -->
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
          <div class="panel-body">
            <div class="media v-middle">
              <div class="media-left">
                <img src="images/people/110/guy-6.jpg" alt="About Adrian" width="60" class="img-circle" />
              </div>
              <div class="media-body">
                <h4 class="text-title margin-none"><a href="#">Adrian Demian</a></h4>
                <span class="caption text-light">Biography</span>
              </div>
            </div>
            <br/>
            <div class="expandable expandable-indicator-white expandable-trigger">
              <div class="expandable-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut consectetur consequatur cum cupiditate debitis doloribus, error ex explicabo harum illum minima mollitia nisi nostrum officiis omnis optio qui quisquam saepe sit
                  sunt totam vel velit voluptatibus? Adipisci ducimus expedita id nostrum quas quia!</p>
              </div>
            </div>
          </div>
        </div>
        <!-- // END .panel -->

      </div>
      <!-- // END .page-section -->

    </div>
  </div>

</div>

<div class="bg-white page-section">
  <div class="container">
    <h4>Featured</h4>
    <div class="slick-basic slick-slider" data-items="4" data-items-lg="3" data-items-md="2" data-items-sm="1" data-items-xs="1">
      <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
          <div class="panel-body">
            <div class="media media-clearfix-xs">
              <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                  <span class="img icon-block s90 bg-default"></span>
                  <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-github"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Biology</a></h4>
                <p class="small margin-none">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
          <div class="panel-body">
            <div class="media media-clearfix-xs">
              <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                  <span class="img icon-block s90 bg-primary"></span>
                  <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                        <span class="v-center">
                            <i class="fa fa-css3"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Physics</a></h4>
                <p class="small margin-none">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
          <div class="panel-body">
            <div class="media media-clearfix-xs">
              <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                  <span class="img icon-block s90 bg-lightred"></span>
                  <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-windows"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Mathematics</a></h4>
                <p class="small margin-none">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
          <div class="panel-body">
            <div class="media media-clearfix-xs">
              <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                  <span class="img icon-block s90 bg-brown"></span>
                  <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                        <span class="v-center">
                            <i class="fa fa-wordpress"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Biology</a></h4>
                <p class="small margin-none">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
          <div class="panel-body">
            <div class="media media-clearfix-xs">
              <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                  <span class="img icon-block s90 bg-purple"></span>
                  <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                        <span class="v-center">
                            <i class="fa fa-jsfiddle"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Physics</a></h4>
                <p class="small margin-none">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
          <div class="panel-body">
            <div class="media media-clearfix-xs">
              <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                  <span class="img icon-block s90 bg-default"></span>
                  <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-cc-visa"></i>
                        </span>
                  </span>
                  <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Biology</a></h4>
                <p class="small margin-none">
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                  <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h4 class="text-headline text-light">Corporate</h4>
        <ul class="list-unstyled">
          <li><a href="#">About the company</a></li>
          <li><a href="#">Company offices</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4 class="text-headline text-light">Explore</h4>
        <ul class="list-unstyled">
          <li><a href="">Courses</a></li>
          <li><a href="">Tutors</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">Become Tutor</a></li>
          <li><a href="">Sign Up</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <h4 class="text-headline text-light">Newsletter</h4>

        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter email here...">
            <span class="input-group-btn">
								<button class="btn btn-grey-800" type="button">Subscribe</button>
							  </span>
          </div>
        </div>
        <br/>
        <p>
          <a href="#" class="btn btn-indigo-500 btn-circle"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-pink-500 btn-circle"><i class="fa fa-dribbble"></i></a>
          <a href="#" class="btn btn-blue-500 btn-circle"><i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-danger btn-circle"><i class="fa fa-google-plus"></i></a>
        </p>

        <p class="text-subhead">
          &copy; 2019 Learning App by mosaicpro.
        </p>

      </div>
    </div>
  </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <strong>Learn Vectors</strong> v1.1.0 &copy; Copyright 2019
</footer>
<!-- // Footer -->