<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <div class="navbar-brand">
          <a  ui-sref="website-pages.home">
            <img class="imglogo">  
          </a>
        </div>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container parallax-layer" data-opacity="true">

        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-nav-margin-left">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Progress Card</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">FAQ</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.private-profile">Account Details</a>
            </ul>
        <!-- <li class="dropdown" ng-class="{ 'active': $state.includes('website-pages') || $state.includes('website-forum') || $state.includes('website-blog') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-pages.home">Home page</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.pricing">Pricing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.tutors">Tutors</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.survey">Survey</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.contact">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-courses') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Grid Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.list">List Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.single">Single Course</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-student') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-course">Take Course</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.course-forums') || $state.is('website-student.course-forum-thread') }"><a ui-sref="website-student.course-forums">Course Forums</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-quiz">Take Quiz</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.private-profile') || $state.is('website-student.billing') }"><a ui-sref="website-student.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-instructor.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.courses">My Courses</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.edit-course') || $state.is('website-instructor.edit-course-meta') || $state.is('website-instructor.edit-course-lessons') }"><a ui-sref="website-instructor.edit-course">Edit Course</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.earnings">Earnings</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.statement">Statement</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a ui-sref="website-instructor.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
          </ul>
        </li>
      </ul> -->
      <div class="navbar-right">

        <ul class="nav navbar-nav navbar navbar-nav-bordered navbar-nav-margin-right">
          <!-- user -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" />Saurav <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>

              <li><a ui-sref="login"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
          </li>
          <!-- // END user -->
        </ul>
      <a ui-sref="login" class="navbar-btn btn btn-primary">Log Out</a>
   
      </div>
    
    <!-- /.navbar-collapse -->

  </div>
</div>
</div>
</div>

<div class="parallax overflow-hidden page-section bg-deep-purple-300">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media media-grid v-middle">
      <div class="media-left">
        <span class="icon-block half bg-deep-purple-500 text-white"><i class="fa fa-life-bouy"></i></span>
      </div>
      <div class="media-body">
        <h3 class="text-display-2 text-white margin-none">FAQ</h3>
        <p class="text-white text-subhead">Ask our awesome community</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-section">

    <div class="row">
      <div class="col-md-8 col-lg-9">

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="media v-middle">
                <div class="media-body">
                  <h4 class="text-headline margin-none">General</h4>
                  <p class="text-subhead text-light">This is the great community</p>
                </div>
                <div class="media-right">
                  <a href="#" class="btn btn-white btn-flat"><i class="fa fa-fw fa-plus"></i> New Topic</a>
                </div>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-forum.thread class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" /> Rakesh</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-forum.thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 8</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-forum.thread class="link-text-color">Can someone help me? I need a design advice</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-6.jpg" alt="person" class="img-circle width-20" />Diya</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-forum.thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 14</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-forum.thread class="link-text-color">I think this is the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-4.jpg" alt="person" class="img-circle width-20" /> Sandesh Gupta</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-forum.thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 13</a>
              </div>
            </li>

          </ul>
        </div>

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="media v-middle">
                <div class="media-body">
                  <h4 class="text-headline margin-none">Lessons</h4>
                  <p class="text-subhead text-light">learing new things </p>
                </div>
                <div class="media-right">
                  <a href="#" class="btn btn-white btn-flat"><i class="fa fa-fw fa-plus"></i> New Topic</a>
                </div>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-forum.thread class="link-text-color">Getting around NEET-Chemistry</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-4.jpg" alt="person" class="img-circle width-20" /> Rohini Bhagat</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-forum.thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 13</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-forum.thread class="link-text-color">I think this is the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-4.jpg" alt="person" class="img-circle width-20">Virat</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-forum.thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 10</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-forum.thread class="link-text-color">Responsive mathematics Question</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-5.jpg" alt="person" class="img-circle width-20" /> Ruhi Kumari</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-forum.thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 6</a>
              </div>
            </li>

          </ul>
        </div>

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="media v-middle">
                <div class="media-body">
                  <h4 class="text-headline margin-none">Support</h4>
                  <p class="text-subhead text-light">supportive and co-ordinative </p>
                </div>
                <div class="media-right">
                  <a href="#" class="btn btn-white btn-flat"><i class="fa fa-fw fa-plus"></i> New Topic</a>
                </div>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-forum.thread class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" />Rakesh Yadav</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-forum.thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 3</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-forum.thread class="link-text-color">Responsive Chemistry Question</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-5.jpg" alt="person" class="img-circle width-20" /> Ravi Dave</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-forum.thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 9</a>
              </div>
            </li>

          </ul>
        </div>
        <br/>

      </div>
     <!--  <div class="col-md-4 col-lg-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group form-control-material">
              <input id="forumSearch" type="text" class="form-control" placeholder="Type to search" />
              <label for="forumSearch">Search ...</label>
            </div>
            <a href="#" class="btn btn-inverse paper-shadow relative" data-z="0.5" data-hover-z="1">Search</a>
          </div>
        </div> -->
       <!--  <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Categories</h4>
          </div>
          <ul class="list-group list-group-menu">
            <li class="list-group-item" ui-sref-active="active">
              <a ui-sref="website-forum.home"><i class="fa fa-chevron-right fa-fw"></i> All</a>
            </li>
            <li class="list-group-item" ui-sref-active="active">
              <a ui-sref="website-forum.category"><i class="fa fa-chevron-right fa-fw"></i> General</a>
            </li>
            <li class="list-group-item">
              <a ui-sref="website-forum.category"><i class="fa fa-chevron-right fa-fw"></i> Lessons</a>
            </li>
            <li class="list-group-item">
              <a ui-sref="website-forum.category"><i class="fa fa-chevron-right fa-fw"></i> Support</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>

  </div>
</div>

<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h4 class="text-headline text-light">Corporate</h4>
        <ul class="list-unstyled">
          <li><a href="#">About the company</a></li>
          <li><a href="#">Company offices</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4 class="text-headline text-light">Explore</h4>
        <ul class="list-unstyled">
          <li><a href="">Courses</a></li>
          <li><a href="">Tutors</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">Become Tutor</a></li>
          <li><a href="">Sign Up</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <h4 class="text-headline text-light">Newsletter</h4>

        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter email here...">
            <span class="input-group-btn">
								<button class="btn btn-grey-800" type="button">Subscribe</button>
							  </span>
          </div>
        </div>
        <br/>
        <p>
          <a href="#" class="btn btn-indigo-500 btn-circle"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-pink-500 btn-circle"><i class="fa fa-dribbble"></i></a>
          <a href="#" class="btn btn-blue-500 btn-circle"><i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-danger btn-circle"><i class="fa fa-google-plus"></i></a>
        </p>

        <p class="text-subhead">
          &copy; 2015 Learning App by mosaicpro.
        </p>

      </div>
    </div>
  </div>
  </div>
</div>
</div>
</section>
</div>
<!-- Footer -->
<footer class="footer">
  <strong>Learn Vectors</strong> v1.1.0 &copy; Copyright 2019
</footer>
<!-- // Footer -->

<div class="container">
  <div class="page-section">

    <div class="row">
      <div class=" col-lg-9">


        </div>
        </div>
        </div>
        </div>
      </div>