<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <a  ui-sref="website-pages.home">
          <img class="imglogo">  


        </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav navbar-nav-margin-left">
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-pages') || $state.includes('website-forum') || $state.includes('website-blog') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-pages.home">Home page</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.pricing">Pricing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.tutors">Tutors</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.survey">Survey</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.contact">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-courses') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Grid Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.list">List Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.single">Single Course</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-student') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-course">Take Course</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.course-forums') || $state.is('website-student.course-forum-thread') }"><a ui-sref="website-student.course-forums">Course Forums</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-quiz">Take Quiz</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.private-profile') || $state.is('website-student.billing') }"><a ui-sref="website-student.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-instructor.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.courses">My Courses</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.edit-course') || $state.is('website-instructor.edit-course-meta') || $state.is('website-instructor.edit-course-lessons') }"><a ui-sref="website-instructor.edit-course">Edit Course</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.earnings">Earnings</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.statement">Statement</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a ui-sref="website-instructor.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-right">
        <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
          <!-- user -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" /> Bill<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active"><a ui-sref="website-student.dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
              <li><a ui-sref="login"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </li>
          <!-- // END user -->
        </ul>
        <a ui-sref="login" class="navbar-btn btn btn-primary">Log In</a>
      </div>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</div>

<div class="parallax overflow-hidden bg-blue-400 page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <div class="media-left text-center">
        <a href="#">
          <img src="images/people/110/guy-1.jpg" alt="people" class="img-circle width-80" />
        </a>
      </div>
      <div class="media-body">
        <h1 class="text-white text-display-1 margin-v-0">John Doe</h1>
        <p class="text-subhead"><a class="link-white text-underline" href="website-instructor-public-profile.html">View public profile</a></p>
      </div>
      <div class="media-right">
        <span class="label bg-blue-500">Instructor</span>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="row" data-toggle="isotope">
          <div class="item col-xs-12 col-lg-6">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <div class="media v-middle">
                  <div class="media-body">
                    <h4 class="text-headline margin-none">Earnings</h4>
                    <p class="text-subhead text-light">This Month</p>
                  </div>
                  <div class="media-right">
                    <a class="btn btn-white btn-flat" ui-sref="website-instructor.earnings">Reports</a>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div id="line-holder" data-toggle="flot-chart-earnings" class="flotchart-holder height-200"></div>
              </div>
              <hr/>
              <div class="panel-body">
                <div class="row text-center">
                  <div class="col-md-6">
                    <h4 class="margin-none">Gross Revenue</h4>
                    <p class="text-display-1 text-warning margin-none">102.4k</p>
                  </div>
                  <div class="col-md-6">
                    <h4 class="margin-none">Net Revenue</h4>
                    <p class="text-display-1 text-success margin-none">55k</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item col-xs-12 col-lg-6">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">My Courses</h4>
                <p class="text-subhead text-light">Your recent courses</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item media v-middle">
                  <div class="media-body">
                    <a ui-sref="website-instructor.edit-course" class="text-subhead list-group-link">Basics of HTML</a>
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item media v-middle">
                  <div class="media-body">
                    <a ui-sref="website-instructor.edit-course" class="text-subhead list-group-link">Angular in Steps</a>
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item media v-middle">
                  <div class="media-body">
                    <a ui-sref="website-instructor.edit-course" class="text-subhead list-group-link">Bootstrap Foundations</a>
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="panel-footer text-right">
                <a ui-sref="website-instructor.courses" class="btn btn-white paper-shadow relative" data-z="0" data-hover-z="1" data-animated>View all</a>
                <a ui-sref="website-instructor.edit-course" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1" data-animated>CREATE COURSE <i class="fa fa-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="item col-xs-12 col-lg-6">
            <div class="s-container">
              <h4 class="text-headline margin-none">Comments</h4>
              <p class="text-subhead text-light">Latest student comments </p>
            </div>
            <div class="panel panel-default">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="media v-middle margin-v-0-10">
                    <div class="media-body">
                      <p class="text-subhead">
                        <a href="#">
                          <img src="images/people/110/guy-3.jpg" alt="person" class="width-30 img-circle" />
                        </a> &nbsp;
                        <a href="#">mosaicpro</a>
                        <span class="text-caption text-light">57 min ago</span>
                      </p>
                    </div>
                    <div class="media-right">
                      <div class="width-50 text-right">
                        <a href="#" class="btn btn-white btn-xs"><i class="fa fa-reply"></i></a>
                      </div>
                    </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis eligendi expedita ipsam minus non numquam quidem reiciendis ut?</p>
                  <p class="text-light"><span class="caption">Course:</span> <a ui-sref="app-courses.course">Basics Of HTML</a></p>
                </li>
                <li class="list-group-item">
                  <div class="media v-middle margin-v-0-10">
                    <div class="media-body">
                      <p class="text-subhead">
                        <a href="#">
                          <img src="images/people/110/guy-2.jpg" alt="person" class="width-30 img-circle" />
                        </a> &nbsp;
                        <a href="#">mosaicpro</a>
                        <span class="text-caption text-light">7 min ago</span>
                      </p>
                    </div>
                    <div class="media-right">
                      <div class="width-50 text-right">
                        <a href="#" class="btn btn-white btn-xs"><i class="fa fa-reply"></i></a>
                      </div>
                    </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis eligendi expedita ipsam minus non numquam quidem reiciendis ut?</p>
                  <p class="text-light"><span class="caption">Course:</span> <a ui-sref="app-courses.course">Basics Of HTML</a></p>
                </li>
                <li class="list-group-item">
                  <div class="media v-middle margin-v-0-10">
                    <div class="media-body">
                      <p class="text-subhead">
                        <a href="#">
                          <img src="images/people/110/guy-5.jpg" alt="person" class="width-30 img-circle" />
                        </a> &nbsp;
                        <a href="#">mosaicpro</a>
                        <span class="text-caption text-light">50 min ago</span>
                      </p>
                    </div>
                    <div class="media-right">
                      <div class="width-50 text-right">
                        <a href="#" class="btn btn-white btn-xs"><i class="fa fa-reply"></i></a>
                      </div>
                    </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis eligendi expedita ipsam minus non numquam quidem reiciendis ut?</p>
                  <p class="text-light"><span class="caption">Course:</span> <a ui-sref="app-courses.course">Basics Of HTML</a></p>
                </li>
                <li class="list-group-item">
                  <div class="media v-middle margin-v-0-10">
                    <div class="media-body">
                      <p class="text-subhead">
                        <a href="#">
                          <img src="images/people/110/guy-4.jpg" alt="person" class="width-30 img-circle" />
                        </a> &nbsp;
                        <a href="#">mosaicpro</a>
                        <span class="text-caption text-light">58 min ago</span>
                      </p>
                    </div>
                    <div class="media-right">
                      <div class="width-50 text-right">
                        <a href="#" class="btn btn-white btn-xs"><i class="fa fa-reply"></i></a>
                      </div>
                    </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis eligendi expedita ipsam minus non numquam quidem reiciendis ut?</p>
                  <p class="text-light"><span class="caption">Course:</span> <a ui-sref="app-courses.course">Basics Of HTML</a></p>
                </li>
                <li class="list-group-item">
                  <div class="media v-middle margin-v-0-10">
                    <div class="media-body">
                      <p class="text-subhead">
                        <a href="#">
                          <img src="images/people/110/guy-4.jpg" alt="person" class="width-30 img-circle" />
                        </a> &nbsp;
                        <a href="#">mosaicpro</a>
                        <span class="text-caption text-light">27 min ago</span>
                      </p>
                    </div>
                    <div class="media-right">
                      <div class="width-50 text-right">
                        <a href="#" class="btn btn-white btn-xs"><i class="fa fa-reply"></i></a>
                      </div>
                    </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis eligendi expedita ipsam minus non numquam quidem reiciendis ut?</p>
                  <p class="text-light"><span class="caption">Course:</span> <a ui-sref="app-courses.course">Basics Of HTML</a></p>
                </li>
              </ul>

            </div>
          </div>
          <div class="item col-xs-12 col-lg-6">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <div class="media v-middle">
                  <div class="media-body">
                    <h4 class="text-headline margin-none">Transactions</h4>
                    <p class="text-subhead text-light">Latest from statement</p>
                  </div>
                  <div class="media-right">
                    <a class="btn btn-white btn-flat" ui-sref="website-instructor.statement">Statement</a>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table text-subhead v-middle">
                  <tbody>
                    <tr>
                      <td class="width-100 text-caption">
                        <div class="label label-grey-200 label-xs">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="width-80 text-center"><a href="#">#14170</a></td>
                      <td class="width-50 text-center">&dollar;72</td>
                    </tr>
                    <tr>
                      <td class="width-100 text-caption">
                        <div class="label label-grey-200 label-xs">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="width-80 text-center"><a href="#">#6754</a></td>
                      <td class="width-50 text-center">&dollar;74</td>
                    </tr>
                    <tr>
                      <td class="width-100 text-caption">
                        <div class="label label-grey-200 label-xs">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="width-80 text-center"><a href="#">#3546</a></td>
                      <td class="width-50 text-center">&dollar;19</td>
                    </tr>
                    <tr>
                      <td class="width-100 text-caption">
                        <div class="label label-grey-200 label-xs">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="width-80 text-center"><a href="#">#1383</a></td>
                      <td class="width-50 text-center">&dollar;71</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">My Account</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.dashboard">Dashboard</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.courses">My Courses</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.messages">Messages</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.earnings">Earnings</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.statement">Statement</a></li>
              <li class="list-group-item" ng-class="{ 'active': $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a class="link-text-color" ui-sref="website-instructor.private-profile">Profile</a></li>
              <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
            </ul>
          </div>
        </div>

        <h4>Featured</h4>
        <div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-github"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Github Webhooks for Beginners</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-primary"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                        <span class="v-center">
                            <i class="fa fa-css3"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Awesome CSS with LESS Processing</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-lightred"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-windows"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Portable Environments with Vagrant</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-brown"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                        <span class="v-center">
                            <i class="fa fa-wordpress"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">WordPress Theme Development</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-purple"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                        <span class="v-center">
                            <i class="fa fa-jsfiddle"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Modular JavaScript with Browserify</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-cc-visa"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Easy Online Payments with Stripe</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- Footer -->
<footer class="footer">
  <strong>Learning</strong> v1.1.0 &copy; Copyright 2015
</footer>
<!-- // Footer -->