<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <div>
          <a  ui-sref="website-pages.home">
            <img class="imglogo" >  
  
  
          </a>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav navbar-nav-margin-left">
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-pages') || $state.includes('website-forum') || $state.includes('website-blog') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-pages.home">Home page</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.pricing">Pricing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.tutors">Tutors</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.survey">Survey</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.contact">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-courses') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Grid Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.list">List Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.single">Single Course</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-student') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-course">Take Course</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.course-forums') || $state.is('website-student.course-forum-thread') }"><a ui-sref="website-student.course-forums">Course Forums</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-quiz">Take Quiz</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.private-profile') || $state.is('website-student.billing') }"><a ui-sref="website-student.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-instructor.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.courses">My Courses</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.edit-course') || $state.is('website-instructor.edit-course-meta') || $state.is('website-instructor.edit-course-lessons') }"><a ui-sref="website-instructor.edit-course">Edit Course</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.earnings">Earnings</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.statement">Statement</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a ui-sref="website-instructor.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-right">
        <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
          <!-- user -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" /> Bill<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active"><a ui-sref="website-student.dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
              <li><a ui-sref="login"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </li>
          <!-- // END user -->
        </ul>
        <a ui-sref="login" class="navbar-btn btn btn-primary">Log In</a>
      </div>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</div>

<div class="parallax overflow-hidden bg-blue-400 page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <div class="media-left text-center">
        <a href="#">
          <img src="images/people/110/guy-1.jpg" alt="people" class="img-circle width-80" />
        </a>
      </div>
      <div class="media-body">
        <h1 class="text-white text-display-1 margin-v-0">John Doe</h1>
        <p class="text-subhead"><a class="link-white text-underline" href="website-instructor-public-profile.html">View public profile</a></p>
      </div>
      <div class="media-right">
        <span class="label bg-blue-500">Instructor</span>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <!-- Tabbable Widget -->
        <div class="tabbable paper-shadow relative" data-z="0.5">

          <!-- Tabs -->
          <ul class="nav nav-tabs">
            <li ui-sref-active="active"><a ui-sref="website-instructor.private-profile"><i class="fa fa-fw fa-lock"></i> <span class="hidden-sm hidden-xs">Manage Account</span></a></li>
            <li class="active" ui-sref-active="active"><a ui-sref="website-instructor.billing"><i class="fa fa-fw fa-credit-card"></i> <span class="hidden-sm hidden-xs">Billing Details</span></a></li>
          </ul>
          <!-- // END Tabs -->

          <!-- Panes -->
          <div class="tab-content">

            <div id="billing" class="tab-pane active">
              <form action="#" class="form-horizontal">
                <div class="form-group">
                  <label for="name" class="col-md-2 control-label">Name on Invoice</label>
                  <div class="col-md-6">
                    <div class="form-control-material">
                      <input type="text" class="form-control used" id="name" value="Adrian Demian">
                      <label for="name">Name on Invoice</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="address" class="col-md-2 control-label">Address</label>
                  <div class="col-md-6">
                    <div class="form-control-material">
                      <textarea class="form-control used" id="address">Sunny Street 21, MI</textarea>
                      <label for="address">Address</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="country" class="col-md-2 control-label">Country</label>
                  <div class="col-md-6">
                    <select id="country" data-toggle="select2" class="width-100">
                      <option value="1" selected>USA</option>
                      <option value="2">Country</option>
                    </select>
                  </div>
                </div>
                <div class="form-group margin-bottom-none">
                  <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated>Update Billing</button>
                  </div>
                </div>
              </form>
              <hr/>

              <div class="media v-middle s-container">
                <div class="media-body">
                  <h5 class="text-subhead">Payment details</h5>
                </div>
                <div class="media-right">
                  <a href="#modal-update-credit-card" data-toggle="modal" class="btn btn-white paper-shadow relative" data-animated data-z="0.5" data-hover-z="1" href="">Add Credit Card</a>
                </div>
              </div>
              <div class="list-group margin-none">
                <div class="list-group-item media v-middle">
                  <div class="media-left">
                    <div class="icon-block half img-circle bg-primary">
                      <i class="fa fa-credit-card"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="text-title media-heading">
                      <a href="#modal-update-credit-card" data-toggle="modal" class="link-text-color">**** **** **** 2422</a>
                    </h4>
                    <div class="text-caption">updated 1 month ago</div>
                  </div>
                  <div class="media-right">
                    <a href="#modal-update-credit-card" data-toggle="modal" class="btn btn-white btn-flat"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                  </div>
                </div>
                <div class="list-group-item media v-middle">
                  <div class="media-left">
                    <div class="icon-block half img-circle bg-grey-100 text-light">
                      <i class="fa fa-credit-card"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="text-title media-heading">
                      <a href="#modal-update-credit-card" data-toggle="modal" class="link-text-color">**** **** **** 3365</a>
                    </h4>
                    <div class="text-caption">updated 1 year ago</div>
                  </div>
                  <div class="media-right">
                    <a href="#modal-update-credit-card" data-toggle="modal" class="btn btn-white btn-flat"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- // END Panes -->

        </div>
        <!-- // END Tabbable Widget -->

        <div class="modal grow modal-backdrop-white fade" id="modal-update-credit-card">
          <div class="modal-dialog modal-sm">
            <div class="v-cell">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">Update Credit Card</h4>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group form-control-material">
                      <input type="text" class="form-control" id="credit-card" placeholder="**** **** **** 2422">
                      <label for="credit-card">Credit Card</label>
                    </div>
                    <div class="form-group">
                      <label for="exp">Expiration Date:</label>
                      <br/>
                      <select id="exp" data-toggle="select2">
                        <option value="1" selected>January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                      <select data-toggle="select2">
                        <option value="2015" selected>2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                      </select>
                    </div>
                    <div class="form-group form-control-material">
                      <input type="text" class="form-control" id="cvv" placeholder="123">
                      <label for="cvv">CVV</label>
                    </div>
                    <button type="submit" class="btn btn-success paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated data-dismiss="modal">Update Credit Card</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">My Account</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.dashboard">Dashboard</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.courses">My Courses</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.messages">Messages</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.earnings">Earnings</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.statement">Statement</a></li>
              <li class="list-group-item" ng-class="{ 'active': $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a class="link-text-color" ui-sref="website-instructor.private-profile">Profile</a></li>
              <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
            </ul>
          </div>
        </div>

        <h4>Featured</h4>
        <div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-github"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Github Webhooks for Beginners</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-primary"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                        <span class="v-center">
                            <i class="fa fa-css3"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Awesome CSS with LESS Processing</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-lightred"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-windows"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Portable Environments with Vagrant</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-brown"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                        <span class="v-center">
                            <i class="fa fa-wordpress"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">WordPress Theme Development</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-purple"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                        <span class="v-center">
                            <i class="fa fa-jsfiddle"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Modular JavaScript with Browserify</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-cc-visa"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Easy Online Payments with Stripe</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- Footer -->
<footer class="footer">
  <strong>Learning</strong> v1.1.0 &copy; Copyright 2015
</footer>
<!-- // Footer -->