
<div id="content">
  <div class="container-fluid">

    <div class="lock-container">
      <div class="panel panel-default text-center paper-shadow" data-z="0.5">
        <h1 class="text-display-1 text-center margin-bottom-none">Sign In</h1>
        <img src="images/people/110/guy-5.jpg" class="img-circle width-80">
        <div class="panel-body">
          <div class="form-group">
            <div class="form-control-material">
              <input class="form-control" id="username" type="text" placeholder="Username">
              <label for="username">Username</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-control-material">
              <input class="form-control" id="password" type="password" placeholder="Enter Password">
              <label for="password">Password</label>
            </div>
          </div>

          <a ui-sref="website-student.dashboard" class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></a>
          <a href="#" class="forgot-password">Forgot password?</a>
          <a ui-sref="sign-up" class="link-text-color">Create account</a>
        </div>
      </div>
    </div>
</div>
</div>
<!-- <script language="javascript">
  function check(form)/*function to check userid & password*/
  {
   /*the following code checkes whether the entered userid and password are matching*/
   if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd")
    {
      window.open('target.html')/*opens the target page while Id & password matches*/
    }
   else
   {
     alert("Error Password or Username")/*displays error message*/
    }
  }
  </script>

 Footer -->
<!-- <footer class="footer">
  <strong>Learning</strong> v1.1.0 &copy; Copyright 2015
</footer> -->
<!-- // Footer --> 