<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <div>
          <a  ui-sref="website-pages.home">
            <img class="imglogo" >  
  
  
          </a>
        </div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav navbar-nav-margin-left">
        <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Progress Card</a></li>
        <li ui-sref-active="active"><a ui-sref="website-courses.grid">Courses</a></li>
        <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
        <li ui-sref-active="active"><a ui-sref="website-forum.home">FAQ</a></li>
        <li ui-sref-active="active"><a ui-sref="website-student.private-profile">Account Details</a>
        </ul>
 
      <div class="navbar-right">
        <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
          <!-- user -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" /> Saurav<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
             <!--  <li ui-sref-active="active"><a ui-sref="website-student.dashboard"><i class="fa fa-bar-chart-o"></i> Progress Card</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.course.forum"><i class="fa fa-user"></i> FAQ</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.messages"><i class="fa fa-user"></i> Messages</a></li>
 -->
 <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
 <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-user"></i>My Courses</a></li>
              <li><a ui-sref="login"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
          </li>
          <!-- // END user -->
        </ul>
        <a ui-sref="login" class="navbar-btn btn btn-primary">Log In</a>
      </div>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</div>

<div class="parallax overflow-hidden bg-blue-400 page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <div class="media-left text-center">
        <a href="#">
          <img src="images/people/110/guy-6.jpg" alt="people" class="img-circle width-80" />
        </a>
      </div>
      <div class="media-body">
        <h1 class="text-white text-display-1 margin-v-0">Saurav Potare</h1>
        <p class="text-subhead"><a class="link-white text-underline" href="website-student-public-profile.html">View public profile</a></p>
      </div>
      <div class="media-right">
        <span class="label bg-blue-500">Student</span>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="media messages-container media-clearfix-xs-min media-grid">
          <div class="media-left">
            <div class="messages-list">
              <div class="panel panel-default paper-shadow" data-z="0.5" data-scrollable-h>
                <ul class="list-group">
                  <li class="list-group-item active">
                    <a href="#">
                      <div class="media v-middle">
                        <div class="media-left">
                          <img src="images/people/110/woman-5.jpg" width="50" alt="" class="media-object" />
                        </div>
                        <div class="media-body">
                          <span class="date">Today</span>
                          <span class="user">Samantha Michael</span>
                          <div class="text-light">Are we ok to meet...</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="media v-middle">
                        <div class="media-left">
                          <img src="images/people/110/guy-3.jpg" height="50" alt="" class="media-object" />
                        </div>
                        <div class="media-body">
                          <span class="date">Sat</span>
                          <span class="user">Adrian Demian.</span>
                          <div class="text-light">Looking forward to...</div>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="media v-middle">
                        <div class="media-left">
                          <img src="images/people/110/woman-4.jpg" width="50" alt="" class="media-object" />
                        </div>
                        <div class="media-body">
                          <span class="date">5 days</span>
                          <span class="user">Michelle Anister</span>
                          <div class="text-light">Nice design.</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="media v-middle">
                        <div class="media-left">
                          <img src="images/people/110/woman-3.jpg" height="50" alt="" class="media-object" />
                        </div>
                        <div class="media-body">
                          <span class="date">Sat</span>
                          <span class="user">Sue Tallbot</span>
                          <div class="text-light">Looking forward to...</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="media v-middle">
                        <div class="media-left">
                          <img src="images/people/110/guy-9.jpg" height="50" alt="" class="media-object" />
                        </div>
                        <div class="media-body">
                          <span class="date">Sat</span>
                          <span class="user">Andy Smith</span>
                          <div class="text-light">Looking forward to...</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="media v-middle">
                        <div class="media-left">
                          <img src="images/people/110/woman-9.jpg" height="50" alt="" class="media-object" />
                        </div>
                        <div class="media-body">
                          <span class="date">Sat</span>
                          <span class="user">Jeniffer Doe</span>
                          <div class="text-light">Looking forward to...</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="media v-middle">
                        <div class="media-left">
                          <img src="images/people/110/guy-6.jpg" height="50" alt="" class="media-object" />
                        </div>
                        <div class="media-body">
                          <span class="date">Sat</span>
                          <span class="user">Jimmy Joe</span>
                          <div class="text-light">Looking forward to...</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="media v-middle">
                        <div class="media-left">
                          <img src="images/people/110/guy-2.jpg" height="50" alt="" class="media-object" />
                        </div>
                        <div class="media-body">
                          <span class="date">Sat</span>
                          <span class="user">Chris Name</span>
                          <div class="text-light">Looking forward to...</div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="media-body">

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-btn">
                  <a class="btn btn-primary" href="#">
                    <i class="fa fa-envelope"></i> Send
                  </a>
                </div>
                <!-- /btn-group -->
                <input type="text" class="form-control share-text" placeholder="Write message..." />
              </div>
              <!-- /input-group -->
            </div>

            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/110/woman-5.jpg" alt="person" class="media-object img-circle width-50" />
                  </div>
                  <div class="media-body message">
                    <h4 class="text-subhead margin-none"><a href="#">Samantha Michael</a></h4>
                    <p class="text-caption text-light"><i class="fa fa-clock-o"></i> 2 min ago</p>
                  </div>
                </div>
                <p>Is 4pm ok?</p>
              </div>
            </div>
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/110/guy-5.jpg" alt="person" class="media-object img-circle width-50" />
                  </div>
                  <div class="media-body message">
                    <h4 class="text-subhead margin-none"><a href="#">Adrian Demian</a></h4>
                    <p class="text-caption text-light"><i class="fa fa-clock-o"></i> 15 hrs ago</p>
                  </div>
                </div>
                <p>
                  Hi Samantha
                </p>
                <p>Sure, Tomorrow is great.. What time?</p>

              </div>
            </div>

            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/110/woman-5.jpg" alt="person" class="media-object img-circle width-50" />
                  </div>
                  <div class="media-body message">
                    <h4 class="text-subhead margin-none"><a href="#">Samantha Michael</a></h4>
                    <p class="text-caption text-light"><i class="fa fa-clock-o"></i> 1 day ago</p>
                  </div>
                </div>
                <p>Sure.</p>
                <p>Is Tomorrow ok to discuss?</p>
              </div>
            </div>
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media v-middle">
                  <div class="media-left">
                    <img src="images/people/110/guy-5.jpg" alt="person" class="media-object img-circle width-50" />
                  </div>
                  <div class="media-body message">
                    <h4 class="text-subhead margin-none"><a href="#">Adrian Demian</a></h4>
                    <p class="text-caption text-light"><i class="fa fa-clock-o"></i> 2 days ago</p>
                  </div>
                </div>
                <p>
                  Can we arrange a Skype call?
                </p>

              </div>
            </div>
          </div>
        </div>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">My Account</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.dashboard">Progress Card</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.courses">My Courses</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.private-profile">Profile</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.dashboard">FAQ</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.messages">Messages</a></li>
              <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
            </ul>
          </div>
        </div>

        <h4>Featured</h4>
        <div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-github"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Physics</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-primary"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                        <span class="v-center">
                            <i class="fa fa-css3"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Chemistry</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-lightred"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-windows"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Mathematics</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-brown"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                        <span class="v-center">
                            <i class="fa fa-wordpress"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Physics</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-purple"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                        <span class="v-center">
                            <i class="fa fa-jsfiddle"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Chemistry</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-cc-visa"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Biology</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- Footer -->
<footer class="footer">
  <strong>Learn Vectors</strong> v1.1.0 &copy; Copyright 2019
</footer>
<!-- // Footer -->