<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <div class="navbar-brand">
          <a  ui-sref="website-pages.home">
            <img class="imglogo">  
          </a>
        </div>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container parallax-layer" data-opacity="true">

        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-nav-margin-left">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Progress Card</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">FAQ</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.private-profile">Account Details</a>
            </ul>
        
     
       <!--  <li class="dropdown" ng-class="{ 'active': $state.includes('website-pages') || $state.includes('website-forum') || $state.includes('website-blog') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-pages.home">progress Card</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.pricing">Pricing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.tutors">Tutors</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.survey">Survey</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.contact">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-courses') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Grid Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.list">List Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.single">Single Course</a></li>
          </ul>
        </li> -->
        <!-- <li class="dropdown" ng-class="{ 'active': $state.includes('website-student') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-course">Take Course</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.course-forums') || $state.is('website-student.course-forum-thread') }"><a ui-sref="website-student.course-forums">Course Forums</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-quiz">Take Quiz</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.private-profile') || $state.is('website-student.billing') }"><a ui-sref="website-student.private-profile">Private Profile</a></li>
          </ul>
        </li> -->
        <!-- <li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-instructor.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.courses">My Courses</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.edit-course') || $state.is('website-instructor.edit-course-meta') || $state.is('website-instructor.edit-course-lessons') }"><a ui-sref="website-instructor.edit-course">Edit Course</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.earnings">Earnings</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.statement">Statement</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a ui-sref="website-instructor.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
          </ul>
        </li>
      </ul> -->
      
      <div class="navbar-right">

        <ul class="nav navbar-nav navbar navbar-nav-bordered navbar-nav-margin-right">
          <!-- user -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" />Saurav <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>

              <li><a ui-sref="login"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
          </li>
          <!-- // END user -->
        </ul>
      <a ui-sref="login" class="navbar-btn btn btn-primary">Log Out</a>
   
      </div>
    
    <!-- /.navbar-collapse -->

  </div>
</div>
</div>
</div>
<div class="parallax overflow-hidden bg-blue-400 page-section third">
  <div class="container parallax-layer" data-opacity="true">    
    <div class="media v-middle">
      <div class="media-left text-center">
        <a href="#">
          <img src="images/people/110/guy-6.jpg" alt="people" class="img-circle width-80" />
        </a>
      </div>
      <div class="media-body">
        <h1 class="text-white text-display-1 margin-v-0">Saurav Potare</h1>
        <p class="text-subhead"><a class="link-white text-underline" href="website-student-public-profile.html">View public profile</a></p>
      </div>
    </div> 
  </div>
</div>
  <!-- <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <div class="media-left text-center">
        <a href="#">
          <img src="images/people/110/guy-6.jpg" alt="people" class="img-circle width-80" />
        </a>
      </div>
     <div class="media-body">
        <h1 class="text-white text-display-1 margin-v-0">Bill Smith</h1>
        <p class="text-subhead"></p>
     </div>
       <div class="media-right">
        <span class="label bg-blue-500">Student</span>
      </div> -->
    
<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="panel panel-default">
          <div class="media v-middle">
            <div class="media-left">
              <div class="bg-green-400 text-white">
                <div class="panel-body">
                  <i class="fa fa-credit-card fa-fw fa-2x"></i>
                </div>
              </div>
            </div>
          
           <div class="media-body">
              Your subscription <span class="text-body-2"></span>
            </div> 
            <div class="media-right media-padding">
              <a class="btn btn-white paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated href="angular\website/courses-grid.html">
                Upgrade
            </a>
            </div>
          </div>
        </div>

        <div class="row" data-toggle="isotope">
          <div class="item col-xs-12 col-lg-6">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">Courses</h4>
                <p class="text-subhead text-light">Your recent courses</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item media v-middle">
                  <div class="media-body">
                    <a ui-sref="website-student.take-course" class="text-subhead list-group-link">JEE-Physics</a>
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%;">
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item media v-middle">
                  <div class="media-body">
                    <a ui-sref="website-student.take-course" class="text-subhead list-group-link">JEE-Chemistry</a>
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item media v-middle">
                  <div class="media-body">
                    <a ui-sref="website-student.take-course" class="text-subhead list-group-link">JEE-Mathematics</a>
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%;">
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="panel-footer text-right">
                <a ui-sref="website-student.courses" class="btn btn-white paper-shadow relative" data-z="0" data-hover-z="1" data-animated href="#"> View all</a>
              </div>
            </div>
          </div>
          <!-- <div class="item col-xs-12 col-lg-6">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-body">
                <h4 class="text-headline margin-none">Rewards</h4>
                <p class="text-subhead text-light">Your latest achievements</p>
                <div class="icon-block half img-circle bg-purple-300">
                  <i class="fa fa-star text-white"></i>
                </div>
                <div class="icon-block half img-circle bg-indigo-300">
                  <i class="fa fa-trophy text-white"></i>
                </div>
                <div class="icon-block half img-circle bg-green-300">
                  <i class="fa fa-mortar-board text-white"></i>
                </div>
                <div class="icon-block half img-circle bg-orange-300">
                  <i class="fa fa-code-fork text-white"></i>
                </div>
                <div class="icon-block half img-circle bg-red-300">
                  <i class="fa fa-diamond text-white"></i>
                </div>
              </div>
            </div>
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline">Certificates
                  <small>(4)</small>
                </h4>
              </div>
              <div class="panel-body">
                <a class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="Name of Certificate">
                  <i class="fa fa-file-text"></i>
                </a>
                <a class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="Name of Certificate">
                  <i class="fa fa-file-text"></i>
                </a>
                <a class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="Name of Certificate">
                  <i class="fa fa-file-text"></i>
                </a>
                <a class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="Name of Certificate">
                  <i class="fa fa-file-text"></i>
                </a>
              </div>
            </div>
          </div> -->
          <div class="item col-xs-12 col-lg-6">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">Quizzes</h4>
                <p class="text-subhead text-light">Your recent performance</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item media v-middle">
                  <div class="media-body">
                    <h4 class="text-subhead margin-none">
                      <a ui-sref="website-student.take-quiz" class="list-group-link">Rotational Motion</a>
                    </h4>
                    <div class="caption">
                      <span class="text-light">Course:</span>
                      <a ui-sref="website-student.take-course">NEET-Physics</a>
                    </div>
                  </div>
                  <div class="media-right text-center">
                    <div class="text-display-1">5.8</div>
                    <span class="caption text-light">Good</span>
                  </div>
                </li>
                <li class="list-group-item media v-middle">
                  <div class="media-body">
                    <h4 class="text-subhead margin-none">
                      <a ui-sref="website-student.take-quiz" class="list-group-link">Kinatic Energy</a>
                    </h4>
                    <div class="caption">
                      <span class="text-light">Course:</span>
                      <a ui-sref="website-student.take-course">Physics</a>
                    </div>
                  </div>
                  <div class="media-right text-center">
                    <div class="text-display-1 text-green-300">9.8</div>
                    <span class="caption text-light">Great</span>
                  </div>
                </li>
                <li class="list-group-item media v-middle">
                  <div class="media-body">
                    <h4 class="text-subhead margin-none">
                      <a ui-sref="website-student.take-quiz" class="list-group-link">Atomic Structure</a>
                    </h4>
                    <div class="caption">
                      <span class="text-light">Course:</span>
                      <a ui-sref="website-student.take-course">NEET-Chemistry</a>
                    </div>
                  </div>
                  <div class="media-right text-center">
                    <div class="text-display-1 text-red-300">3.4</div>
                    <span class="caption text-light">Failed</span>
                  </div>
                </li>   
              </ul>
              
              <div class="panel-footer">
                <a ui-sref="website-student.quizzes" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1" data-animated href="#"> Go to Results</a>
              </div>
            </div>
          </div>
        
          <div class="item col-xs-12 col-lg-6">
            <h4 class="text-headline margin-none">Forum Activity</h4>
            <p class="text-subhead text-light">Latest forum topics & comments</p>
            <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
              <li class="list-group-item paper-shadow">
                <div class="media v-middle">
                  <div class="media-left">
                    <a href="#">
                      <img src="images/people/110/guy-3.jpg" alt="person" class="img-circle width-40" />
                    </a>
                  </div>
                  <div class="media-body">
                    <a ui-sref="website-forum.thread" class="text-subhead link-text-color">Can someone help me for chemistry preparation?</a>
                    <div class="text-light">
                      Topic: <a ui-sref="website-forum.category">Chemistry</a> &nbsp; By: <a href="#">Suhas Mishra</a>
                    </div>
                  </div>
                  <div class="media-right">
                    <div class="width-60 text-right">
                      <span class="text-caption text-light">1 hr ago</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item paper-shadow">
                <div class="media v-middle">
                  <div class="media-left">
                    <a href="#">
                      <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-40" />
                    </a>
                  </div>
                 
                  <div class="media-body">
                    <a ui-sref="website-forum.thread" class="text-subhead link-text-color">Can someone help me with JEE-Mathematics?</a>
                    <div class="text-light">
                      Topic: <a ui-sref="website-forum.category">JEE-Mathematics</a> &nbsp; By: <a href="#">Deepali Gupta</a>
                    </div>
                  </div>
                  <div class="media-right">
                    <div class="width-60 text-right">
                      <span class="text-caption text-light">3 hr ago</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item paper-shadow">
                <div class="media v-middle">
                  <div class="media-left">
                    <a href="#">
                      <img src="images/people/110/guy-4.jpg" alt="person" class="img-circle width-40" />
                    </a>
                  </div>
                  <div class="media-body">
                    <a ui-sref="website-forum.thread" class="text-subhead link-text-color">Can someone help me with Physics topic kinatic energy?</a>
                    <div class="text-light">
                      Topic: <a ui-sref="website-forum.category">Physics</a> &nbsp; By: <a href="#">Shivani Patil</a>
                    </div>
                  </div>
                  <div class="media-right">
                    <div class="width-60 text-right">
                      <span class="text-caption text-light">4 hr ago</span>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>

        <br/>
        <br/>

      </div>
      
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">My Account</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.dashboard">Progress Card</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-courses.grid">Courses</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.courses">My Courses</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.private-profile">Profile</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-forum.home">FAQ</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.messages">Messages</a></li>
              <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
            </ul>
          </div>
</div>
</div>
        <h4>Featured</h4>
        <div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-github"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Physics</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-primary"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                        <span class="v-center">
                            <i class="fa fa-css3"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE- Chemistry</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-lightred"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-windows"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">JEE-Mathematics</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-brown"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                        <span class="v-center">
                            <i class="fa fa-wordpress"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Physics</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-purple"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                        <span class="v-center">
                            <i class="fa fa-jsfiddle"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Chemistry</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-cc-visa"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">NEET-Biology</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  
                </div>
              </div>
            </div>
          </div>
       </div>
       </div>
   </div>
  </div>
</div>
</div>
<!-- Footer -->
<footer class="footer">
  <strong>Learn Vectors</strong> v1.1.0 &copy; Copyright 2019
</footer>
<!-- // Footer -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    
