<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <div class="navbar-brand">
          <a  ui-sref="website-pages.home">
            <img class="imglogo">  
          </a>
        </div>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container parallax-layer" data-opacity="true">

        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-nav-margin-left">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Progress Card</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">FAQ</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.private-profile">Account Details</a>
            </ul>
        
     
       <!--  <li class="dropdown" ng-class="{ 'active': $state.includes('website-pages') || $state.includes('website-forum') || $state.includes('website-blog') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-pages.home">progress Card</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.pricing">Pricing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.tutors">Tutors</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.survey">Survey</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.contact">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-courses') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Grid Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.list">List Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.single">Single Course</a></li>
          </ul>
        </li> -->
        <!-- <li class="dropdown" ng-class="{ 'active': $state.includes('website-student') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-course">Take Course</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.course-forums') || $state.is('website-student.course-forum-thread') }"><a ui-sref="website-student.course-forums">Course Forums</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-quiz">Take Quiz</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.private-profile') || $state.is('website-student.billing') }"><a ui-sref="website-student.private-profile">Private Profile</a></li>
          </ul>
        </li> -->
        <!-- <li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-instructor.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.courses">My Courses</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.edit-course') || $state.is('website-instructor.edit-course-meta') || $state.is('website-instructor.edit-course-lessons') }"><a ui-sref="website-instructor.edit-course">Edit Course</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.earnings">Earnings</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.statement">Statement</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a ui-sref="website-instructor.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
          </ul>
        </li>
      </ul> -->
      
      <div class="navbar-right">

        <ul class="nav navbar-nav navbar navbar-nav-bordered navbar-nav-margin-right">
          <!-- user -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" />Saurav <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>

              <li><a ui-sref="login"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
          </li>
          <!-- // END user -->
        </ul>
      <a ui-sref="login" class="navbar-btn btn btn-primary">Log Out</a>
   
      </div>
    
    <!-- /.navbar-collapse -->

  </div>
</div>
</div>
</div>
<div class="parallax bg-white page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle media-overflow-visible">
      <div class="media-left">
        <span class="icon-block s30 bg-lightred"><i class="fa fa-github"></i></span>
      </div>
      <div class="media-body">
        <div class="text-headline">NEET-Physics</div>
      </div>
      <!-- <div class="media-right">
        <div class="dropdown">
          <a class="btn btn-white dropdown-toggle" data-toggle="dropdown" href="#">Course<span class="caret"></span></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="">Something</a></li>
            <li><a href="">Something else</a></li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="page-section" ng-class="{ 'padding-top-none': $state.includes('website-student') }">
          <div class="media media-grid v-middle">
            <div class="media-left">
              <span class="icon-block half bg-blue-300 text-white">2</span>
            </div>
            <div class="media-body">
              <h1 class="text-display-1 margin-none"></h1>
            </div>
          </div>
          <br/>
          <p class="text-body-2">
            This unit carries a weightage of 16.2% and the chapters are interrelated. Under this unit, the chapter Electrostatic potential and capacitance weighs nearly 35.6%, followed by Moving charges and Mechanism weighing around 31.5%. The unit majorly covers important numercials that appear in the examination. Listed below are some topics which should not be missed at all:
             1.Electrostatic potential and work done
             2. Motion in electric and magnetic fields
             3. Potential energy in an external field
             4. Cyclotrons and Torque on Current loop
             5.Magnetic dipole
          </p>
        </div>

        <h5 class="text-subhead-2 text-light">Curriculum</h5>
        <div class="panel panel-default curriculum open paper-shadow" data-z="0.5">
          <div class="panel-heading panel-heading-gray" data-toggle="collapse" data-target="#curriculum-1">
            <div class="media">
              <div class="media-left">
                <span class="icon-block img-circle bg-indigo-300 half text-white"><i class="fa fa-graduation-cap"></i></span>
              </div>
              <div class="media-body">
                <h4 class="text-headline">Chapter 1</h4>
                <p>Electrostatics and Magnetism</p>
              </div>
            </div>
            <span class="collapse-status collapse-open">Open</span>
            <span class="collapse-status collapse-close">Close</span>
          </div>
          <div class="list-group collapse in" id="curriculum-1">
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">1.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-green-300"></i> Electric Potential

              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">2:03 min</div>
              </div>
            </div>
            <div class="list-group-item media active" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">2.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-blue-300"></i>Magnetic Force, Magnetic Field

                Ampere's Law
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">25:01 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">3.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Faraday's Law, Lenz's Law
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">12:10 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">4.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Equivalence of Electric and Magnetic Fields
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">1:25 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">5.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Filters

                Quality Factor and Resonance
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">22:30 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="website-student.take-quiz">
              <div class="media-left">
                <div class="text-crt">6.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Take Quiz
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">10:00 min</div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default curriculum paper-shadow" data-z="0.5">
          <div class="panel-heading panel-heading-gray" data-toggle="collapse" data-target="#curriculum-2">
            <div class="media">
              <div class="media-left">
                <span class="icon-block half img-circle bg-orange-300 text-white"><i class="fa fa-graduation-cap"></i></span>
              </div>
              <div class="media-body">
                <h4 class="text-headline">Chapter 2</h4>
                <p>Displacement Current, Maxwell's Equations</p>
              </div>
            </div>
            <span class="collapse-status collapse-open">Open</span>
            <span class="collapse-status collapse-close">Close</span>
          </div>
          <div class="list-group collapse" id="curriculum-2">
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">1.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Installation
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">2:03 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">2.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> The MVC architectural pattern
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">25:01 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">3.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Database Models
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">12:10 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">4.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Database Access
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">1:25 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">5.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Eloquent Basics
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">22:30 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="website-student.take-quiz">
              <div class="media-left">
                <div class="text-crt">6.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Take Quiz
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">10:00 min</div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default curriculum paper-shadow" data-z="0.5">
          <div class="panel-heading panel-heading-gray" data-toggle="collapse" data-target="#curriculum-3">
            <div class="media">
              <div class="media-left">
                <span class="icon-block half img-circle bg-green-300 text-white"><i class="fa fa-graduation-cap"></i></span>
              </div>
              <div class="media-body">
                <h4 class="text-headline">Chapter 3</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque minima nemo repudiandae rerum! Aspernatur at, autem expedita id illum laudantium molestias officiis quaerat, rem sapiente sint totam velit. Enim.</p>
              </div>
            </div>
            <span class="collapse-status collapse-open">Open</span>
            <span class="collapse-status collapse-close">Close</span>
          </div>
          <div class="list-group collapse" id="curriculum-3">
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">1.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Installation
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">2:03 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">2.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> The MVC architectural pattern
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">25:01 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">3.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Database Models
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">12:10 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">4.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Database Access
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">1:25 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="::$state.current.name::">
              <div class="media-left">
                <div class="text-crt">5.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Eloquent Basics
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">22:30 min</div>
              </div>
            </div>
            <div class="list-group-item media" data-target="website-student.take-quiz">
              <div class="media-left">
                <div class="text-crt">6.</div>
              </div>
              <div class="media-body">
                <i class="fa fa-fw fa-circle text-grey-200"></i> Take Quiz
              </div>
              <div class="media-right">
                <div class="width-100 text-right text-caption">10:00 min</div>
              </div>
            </div>
          </div>
        </div>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">Resources</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-course">Take Course</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.course-forums">Course FAQ</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-quiz">Take Quiz</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.quiz-results">Quiz Results</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">Instructor</h4>
          </div>
          <div class="panel-body">
            <div class="media v-middle">
              <div class="media-left">
                <img src="images/people/110/guy-6.jpg" alt="About Adrian" width="60" class="img-circle" />
              </div>
              <div class="media-body">
                <h4 class="text-title margin-none"><a href="#">Adrian Demian</a></h4>
                <span class="caption text-light">Biology</span>
              </div>
            </div>
            <br/>
            <div class="expandable expandable-indicator-white expandable-trigger">
              <div class="expandable-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut consectetur consequatur cum cupiditate debitis doloribus, error ex explicabo harum illum minima mollitia nisi nostrum officiis omnis optio qui quisquam saepe sit
                  sunt totam vel velit voluptatibus? Adipisci ducimus expedita id nostrum quas quia!</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- Footer -->
<footer class="footer">
  <strong>Learn Vectors</strong> v1.1.0 &copy; Copyright 2019
</footer>
<!-- // Footer -->