<!-- Fixed navbar -->

      <div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
        <div class="container">
          <div class="navbar-header">
      
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <div class="navbar-brand">
                <a  ui-sref="website-pages.home">
                  <img class="imglogo">  
                </a>
              </div>
              </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="container parallax-layer" data-opacity="true">
      
              <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav navbar-nav-margin-left">
                  <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Progress Card</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-courses.grid">Courses</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-forum.home">FAQ</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-student.private-profile">Account Details</a>
                  </ul>
              
           
             <!--  <li class="dropdown" ng-class="{ 'active': $state.includes('website-pages') || $state.includes('website-forum') || $state.includes('website-blog') }">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ui-sref-active="active"><a ui-sref="website-pages.home">progress Card</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-pages.pricing">Pricing</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-pages.tutors">Tutors</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-pages.survey">Survey</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-pages.contact">Contact</a></li>
                </ul>
              </li>
              <li class="dropdown" ng-class="{ 'active': $state.includes('website-courses') }">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ui-sref-active="active"><a ui-sref="website-courses.grid">Grid Directory</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-courses.list">List Directory</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-courses.single">Single Course</a></li>
                </ul>
              </li> -->
              <!-- <li class="dropdown" ng-class="{ 'active': $state.includes('website-student') }">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Dashboard</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-student.take-course">Take Course</a></li>
                  <li ng-class="{ 'active' : $state.is('website-student.course-forums') || $state.is('website-student.course-forum-thread') }"><a ui-sref="website-student.course-forums">Course Forums</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-student.take-quiz">Take Quiz</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-student.messages">Messages</a></li>
                  <li ng-class="{ 'active' : $state.is('website-student.private-profile') || $state.is('website-student.billing') }"><a ui-sref="website-student.private-profile">Private Profile</a></li>
                </ul>
              </li> -->
              <!-- <li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ui-sref-active="active"><a ui-sref="website-instructor.dashboard">Dashboard</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-instructor.courses">My Courses</a></li>
                  <li ng-class="{ 'active' : $state.is('website-instructor.edit-course') || $state.is('website-instructor.edit-course-meta') || $state.is('website-instructor.edit-course-lessons') }"><a ui-sref="website-instructor.edit-course">Edit Course</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-instructor.earnings">Earnings</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-instructor.statement">Statement</a></li>
                  <li ui-sref-active="active"><a ui-sref="website-instructor.messages">Messages</a></li>
                  <li ng-class="{ 'active' : $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a ui-sref="website-instructor.private-profile">Private Profile</a></li>
                </ul>
              </li>
              <li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
                  <li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
                  <li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
                  <li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
                  <li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
                  <li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
                  <li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
                </ul>
              </li>
            </ul> -->
            
            <div class="navbar-right">
      
              <ul class="nav navbar-nav navbar navbar-nav-bordered navbar-nav-margin-right">
                <!-- user -->
                <li class="dropdown user">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" />Saurav <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>
      
                    <li><a ui-sref="login"><i class="fa fa-sign-out"></i>Logout</a></li>
                  </ul>
                </li>
                <!-- // END user -->
              </ul>
            <a ui-sref="login" class="navbar-btn btn btn-primary">Log Out</a>
         
            </div>
          
          <!-- /.navbar-collapse -->
      
        </div>
      </div>
      </div>
      </div>

<div class="parallax bg-white page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle media-overflow-visible">
      <div class="media-left">
        <span class="icon-block s30 bg-lightred"><i class="fa fa-github"></i></span>
      </div>
      <div class="media-body">
        <div class="text-headline">NEET-Physics</div>
      </div>
     <!--  <div class="media-right">
        <div class="dropdown">
          <a class="btn btn-white dropdown-toggle" data-toggle="dropdown" href="#">Course <span class="caret"></span></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="">Something</a></li>
            <li><a href="">Something else</a></li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="page-section" ng-class="{ 'padding-top-none': $state.includes('website-student') }">
          <div class="media v-middle">
            <div class="media-body">
              <h1 class="text-display-1 margin-none">FAQ</h1>
              <p class="text-subhead text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</p>
            </div>
            <div class="media-right">
              <a href="#" class="btn btn-white paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated><i class="fa fa-fw fa-plus"></i> New Topic</a>
            </div>
          </div>
        </div>

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <ul class="list-group">

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" /> Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 4</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Can someone help me? I need a design advice</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-6.jpg" alt="person" class="img-circle width-20" /> Jennifer Hudson</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 1</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">I think this is the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-4.jpg" alt="person" class="img-circle width-20" /> Michelle Gustav</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 11</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Getting around AngularJS</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-4.jpg" alt="person" class="img-circle width-20" /> Jonny Francine</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 8</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">I think this is the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-4.jpg" alt="person" class="img-circle width-20" /> Michelle Gustav</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 17</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Responsive Bootstrap Question</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-5.jpg" alt="person" class="img-circle width-20" /> Mary Deb</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 9</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" /> Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 17</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Responsive Bootstrap Question</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-5.jpg" alt="person" class="img-circle width-20" /> Mary Deb</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 9</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" /> Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 15</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Can someone help me? I need a design advice</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-6.jpg" alt="person" class="img-circle width-20" /> Jennifer Hudson</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 17</a>
              </div>
            </li>

          </ul>
        </div>

        <ul class="pagination margin-top-none">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

        <br/>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">My Account</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.dashboard">Progress Card</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-courses.grid">Courses</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.courses">My Courses</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.private-profile">Profile</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-forum.home">FAQ</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.messages">Messages</a></li>
              <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
            </ul>
          </div>
</div>
        

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">Instructor</h4>
          </div>
          <div class="panel-body">
            <div class="media v-middle">
              <div class="media-left">
                <img src="images/people/110/guy-6.jpg" alt="About Adrian" width="60" class="img-circle" />
              </div>
              <div class="media-body">
                <h4 class="text-title margin-none"><a href="#">Adrian Demian</a></h4>
                <span class="caption text-light">Physics</span>
              </div>
            </div>
            <br/>
            <div class="expandable expandable-indicator-white expandable-trigger">
              <div class="expandable-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut consectetur consequatur cum cupiditate debitis doloribus, error ex explicabo harum illum minima mollitia nisi nostrum officiis omnis optio qui quisquam saepe sit
                  sunt totam vel velit voluptatibus? Adipisci ducimus expedita id nostrum quas quia!</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- Footer -->
<footer class="footer">
  <strong>Learning</strong> v1.1.0 &copy; Copyright 2015
</footer>
<!-- // Footer -->