<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <div>
          <a  ui-sref="website-pages.home">
            <img class="imglogo" >  
           </a>
        </div>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav navbar-nav-margin-left">
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-pages') || $state.includes('website-forum') || $state.includes('website-blog') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-pages.home">Home page</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.pricing">Pricing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.tutors">Tutors</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.survey">Survey</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
            <li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
            <li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
            <li ui-sref-active="active"><a ui-sref="website-pages.contact">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-courses') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-courses.grid">Grid Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.list">List Directory</a></li>
            <li ui-sref-active="active"><a ui-sref="website-courses.single">Single Course</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-student') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-course">Take Course</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.course-forums') || $state.is('website-student.course-forum-thread') }"><a ui-sref="website-student.course-forums">Course Forums</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.take-quiz">Take Quiz</a></li>
            <li ui-sref-active="active"><a ui-sref="website-student.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-student.private-profile') || $state.is('website-student.billing') }"><a ui-sref="website-student.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="website-instructor.dashboard">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.courses">My Courses</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.edit-course') || $state.is('website-instructor.edit-course-meta') || $state.is('website-instructor.edit-course-lessons') }"><a ui-sref="website-instructor.edit-course">Edit Course</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.earnings">Earnings</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.statement">Statement</a></li>
            <li ui-sref-active="active"><a ui-sref="website-instructor.messages">Messages</a></li>
            <li ng-class="{ 'active' : $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a ui-sref="website-instructor.private-profile">Private Profile</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
            <li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
          </ul>
        </li>
      </ul> -->
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-nav-margin-left">
          <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav navbar-nav-margin-left">
              <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Progress Card</a></li>
              <li ui-sref-active="active"><a ui-sref="website-courses.grid">Courses</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.courses">My Courses</a></li>
              <li ui-sref-active="active"><a ui-sref="website-forum.home">FAQ</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.private-profile">Account Details</a>
              </ul>
      <div class="navbar-right">
        <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
          <!-- user -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" />Saurav<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
              <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>
               <li><a ui-sref="login"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
          </li>
          <!-- // END user -->
        </ul>
        <a ui-sref="login" class="navbar-btn btn btn-primary">Log In</a>
      </div>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</div>

<div class="split-vertical">

  <div class="page-section half bg-white">
    <div class="container">
      <div class="section-toolbar">
        <div class="cell">
          <div class="media width-120 v-middle margin-none">
            <div class="media-left">
              <div class="icon-block bg-grey-200 s30"><i class="fa fa-question"></i></div>
            </div>
            <div class="media-body">
              <p class="text-body-2 text-light margin-none">Questions</p>
              <p class="text-title text-primary margin-none">25</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="media width-120 v-middle margin-none">
            <div class="media-left">
              <div class="icon-block bg-grey-200 s30"><i class="fa fa-diamond"></i></div>
            </div>
            <div class="media-body">
              <p class="text-body-2 text-light margin-none">Score</p>
              <p class="text-title text-success margin-none">800 pt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="split-vertical-body">
    <div class="split-vertical-cell">

      <div class="container height-100pc">

        <div class="page-section height-100pc">
          <div class="row height-100pc">

            <div class="col-md-9">

              <div class="text-subhead-2 text-light">Question 2 of 25</div>
              <div class="panel panel-default paper-shadow" data-z="0.5">
                <div class="panel-heading">
                  <h4 class="text-headline">Step by Step</h4>
                </div>
                <div class="panel-body">
                  <p class="text-body-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque minima nemo repudiandae rerum! Aspernatur at, autem expedita id illum laudantium molestias officiis quaerat, rem sapiente sint totam velit. Enim.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur consequuntur dignissimos dolorem dolores eaque error eum excepturi fugit in iste laboriosam, libero maiores neque officiis omnis, pariatur possimus, quidem
                    quo quod recusandae rem repudiandae rerum saepe sequi suscipit tempora? A aperiam autem deleniti distinctio ea expedita facere fugiat, fugit iure labore laboriosam laudantium nam neque nihil numquam, obcaecati, quam quibusdam ratione
                    recusandae rem sapiente sed veritatis voluptas? Accusantium et laborum minima perferendis praesentium vel. Aliquid architecto, aspernatur autem blanditiis consequuntur debitis, ducimus eaque eos in iste nisi pariatur quidem rem sapiente
                    tempora, tenetur vitae. Dolorem quae quo recusandae similique?</p>
                </div>
              </div>

              <div class="text-subhead-2 text-light">Your Answer</div>
              <div class="panel panel-default paper-shadow" data-z="0.5">
                <div class="panel-body">
                  <div class="checkbox checkbox-primary">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">Aspernatur corporis deserunt dolorum eos nulla</label>
                  </div>
                  <div class="checkbox checkbox-primary">
                    <input id="checkbox2" type="checkbox" checked>
                    <label for="checkbox2">Accusantium aperiam aut cumque deleniti dolores</label>
                  </div>
                  <div class="checkbox checkbox-primary">
                    <input id="checkbox5" type="checkbox">
                    <label for="checkbox5">Culpa doloribus enim explicabo ipsa iste porro</label>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="text-right">
                    <button class="btn btn-success"><i class="fa fa-save fa-fw"></i> Save Answer</button>
                    <button class="btn btn-primary"><i class="fa fa-chevron-right fa-fw"></i> Next Question</button>
                  </div>
                </div>
              </div>

              <br/>
              <br/>

            </div>
            <div class="col-md-3 height-100pc">

              <div class="s-container">
                <div class="text-subhead-2 text-light">Time to complete</div>
                <div class="tk-countdown"></div>
              </div>

              <div class="panel panel-default margin-none">
                <div class="panel-heading">
                  <h4 class="panel-title">Questions</h4>
                </div>
                <div class="panel-body list-group">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-green-400 text-white">1</div>
                        </div>
                        <div class="media-body">
                          <a href="#" class="link-text-color">Dolores explicabo mollitia nisi perspiciatis quas. Itaque.</a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-blue-400 text-white">2</div>
                        </div>
                        <div class="media-body">
                          <a href="#" class="link-text-color">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-grey-400 text-white">3</div>
                        </div>
                        <div class="media-body">
                          <a href="#" class="link-text-color">A aliquam dolore et explicabo possimus vitae?</a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-grey-400 text-white">4</div>
                        </div>
                        <div class="media-body">
                          <a href="#" class="link-text-color">Optio perspiciatis quasi reprehenderit voluptas?</a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-grey-400 text-white">5</div>
                        </div>
                        <div class="media-body">
                          <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-grey-400 text-white">6</div>
                        </div>
                        <div class="media-body">
                          <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-grey-400 text-white">7</div>
                        </div>
                        <div class="media-body">
                          <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-grey-400 text-white">8</div>
                        </div>
                        <div class="media-body">
                          <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-grey-400 text-white">9</div>
                        </div>
                        <div class="media-body">
                          <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="panel-footer">
                  <h4 class="text-subhead margin-v-0-5">Legend</h4>
                  <span class="fa fa-fw fa-circle text-green-400"></span> Answered question
                  <br/>
                  <span class="fa fa-fw fa-circle text-blue-400"></span> Selected question
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <strong>Learn Vectors</strong> v1.1.0 &copy; Copyright 2019
</footer>
<!-- // Footer -->