body.login {
  position: initial;
  background: #f5f5f5;
  padding-top: 0;
}
body.login #content {
  max-width: 760px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
body.login .lock-container {
  margin: auto;
  width: 300px;
}
@media (min-width: 480px) {
  body.login .lock-container {
    bottom: 0;
    height: 550px;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}
body.login .lock-container .panel {
  max-width: 300px !important;
  background: #fff;
  position: relative;
}
body.login .lock-container .panel img {
  margin: 20px 0 10px;
}
body.login .lock-container .panel .forgot-password {
  margin: 10px 0 0;
  font-weight: 500;
  color: #42a5f5;
  display: block;
}
.cover.overlay.home .page-section {
  padding: 16px;
  max-width: 700px;
  display: inline-block;
}
@media (min-width: 768px) {
  .cover.overlay.home .page-section {
    padding: 30px 40px 0;
  }
  .cover.overlay.home .page-section p:last-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .cover.overlay.home .btn {
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    bottom: -32px;
    padding: 18px 24px;
    font-size: 19px;
  }
}
.cover.overlay.pricing {
  display: table;
  margin: 0;
  height: 100%;
  min-height: 900px;
  width: 100%;
  background: url('../../images/photodune-6745579-modern-creative-man-relaxing-on-workspace-m.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.sidebar .media .media-heading {
  margin: 5px 0 0;
}
body.survey {
  position: relative;
  background: url('../images/photodune-6745585-modern-creative-workspace-m.jpg') top left no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body.survey .lock-container {
  margin: auto;
  width: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  display: table;
}
@media (max-width: 480px) {
  body.survey .lock-container {
    width: auto;
  }
}
body.survey .lock-container .panel {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 5px #999;
  position: relative;
}
body.survey .lock-container .panel .panel-heading {
  padding: 20px;
  background: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0));
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  border: none;
}
body.survey .lock-container .panel .panel-body {
  padding: 20px;
}
body.survey .lock-container .panel .panel-footer {
  padding: 20px;
  background: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
  border: none;
}
body.survey .lock-container .panel .panel-footer .small {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.curriculum .collapse-status {
  display: none;
  border: 1px solid #e2e9e6;
  background: #fff;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: -1px;
  right: 20px;
  padding: 5px 10px;
  font-size: 12px;
}
.curriculum .collapse-open {
  display: block;
}
.curriculum.open .collapse-open {
  display: none;
}
.curriculum.open .collapse-close {
  display: block;
}
.curriculum > .panel-heading {
  cursor: pointer;
  position: relative;
}
.curriculum .list-group {
  color: #757575;
}
.curriculum .list-group .list-group-item {
  cursor: pointer;
  padding: 8px 16px;
}
.curriculum .list-group .text-crt:not([class*="bg-"]) {
  font-size: 1.15rem;
  color: #a8a8a8;
}
.curriculum .list-group .text-crt {
  width: 25px;
}
.curriculum .list-group .media-body > i {
  margin-right: 10px;
}
.curriculum .list-group .text-caption {
  color: #a8a8a8;
}
.curriculum .list-group .list-group-item:hover {
  background: #fdfdfd;
  border-color: #f5f5f5;
}
.curriculum .list-group .list-group-item.active {
  background: #fafafa;
  border-color: #f0f0f0;
  color: #303030;
  font-weight: bold;
}
.curriculum .list-group .list-group-item.active .text-caption {
  font-weight: bold;
  color: #303030;
}
.icon-block {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
}
.icon-block.s25 {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
}
.icon-block.s30 {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}
.icon-block.s60 {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 25px;
}
.icon-block.s90 {
  width: 90px;
  height: 90px;
  line-height: 90px;
}
.icon-block.half {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}
.icon-block.double {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 45px;
}
.media .media-heading {
  margin-bottom: 10px;
}
.media > .pull-left {
  margin-right: 20px;
}
.media > .pull-right {
  margin-left: 20px;
}
.navbar .navbar-brand-logo .svg {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  fill: #42a5f5;
  height: 50px;
  width: 106px;
  position: relative;
}
.navbar .navbar-brand-logo .svg svg {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.navbar .navbar-brand-logo.navbar-brand-primary .svg {
  fill: #ffffff;
}
@media (min-width: 992px) {
  .navbar.navbar-size-large .navbar-brand-logo .svg {
    width: 106px;
    height: 64px;
  }
}
.transition-navbar-scroll .navbar {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-navbar-scroll .navbar:before,
.transition-navbar-scroll .navbar:after {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.transition-navbar-scroll .navbar .navbar-nav > li > a,
.transition-navbar-scroll .navbar .navbar-brand,
.transition-navbar-scroll .navbar .navbar-btn {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-navbar-scroll[class*="ls-top-navbar"] .st-container > .sidebar {
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-navbar-scroll[class*="ls-top-navbar"] .st-container {
  -webkit-transition: padding 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: padding 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.panel-body > .text-headline {
  margin: 0 0 16px;
}
.panel-body > .text-headline:last-child {
  margin: 0;
}
.list-group-item .list-group-link {
  color: #212121;
}
.list-group-item .list-group-link:hover {
  text-decoration: none;
  color: #f5a742;
}
.testimonial {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.testimonial .media {
  padding-left: 16px;
  margin: 0;
}
.testimonial .panel {
  position: relative;
}
.testimonial .panel:before,
.testimonial .panel:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 10px;
  z-index: -1;
  bottom: -37px;
  border-width: 25px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #e2e9e6;
}
.testimonial .panel:after {
  border-top-color: #fff;
  bottom: -35px;
  z-index: 2;
}
.st-content-inner > .bg-white,
.st-content-inner > .split-vertical > .bg-white,
body > .bg-white {
  border-bottom: 1px solid #ebebeb;
}
.st-content-inner > .container + .bg-white,
body > .container + .bg-white {
  border-top: 1px solid #ebebeb;
}
.countdown-row {
  display: block;
  padding: 0;
}
.countdown-section {
  padding: 16px 0;
}
.sidebar .countdown-section {
  padding: 0;
}
.is-countdown {
  border-radius: 2px;
  border-color: #e2e9e6;
  background-color: #ffffff;
}
.sidebar .is-countdown {
  background-color: transparent;
  border: none;
}
.is-countdown:after {
  content: "";
  clear: both;
  display: block;
}
.forum-thread-reply {
  padding-left: 80px;
}
.st-layout .ui-view-main {
  height: 100%;
}
